*{
    box-sizing: border-box;
}

.container {
    display: inline-flex;
}

.container-reverse {
    margin-top: 1em;
    display: flex;
    flex-direction: row-reverse;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#botao_voltar{
    padding: 1em;
    background-color: beige;
}

#market{
    width: 100%;
    padding: 1em;
    background-color: cyan;
}

header{
    flex: 1;
    background-color: yellowgreen;
    padding: 1em;
}
